<section style="max-width:600px">
  <table class="table table-striped">
    <thead>
      <tr>
        <td colspan="3">Products (NZD)</td>
      </tr>
      <tr>
        <td>Name</td>
        <td>Price</td>
        <td>Type</td>
      </tr>
    </thead>
    <tbody *ngIf="rows">
      <tr *ngFor="let row of rows">
        <td>{{row.name}}</td>
        <td>{{row.price }}</td>
        <td>{{row.type}}</td>
      </tr>
    </tbody>
  </table>


    <table class="table table-striped">
    <thead>
      <tr>
        <td colspan="3">Products (USD)</td>
      </tr>
      <tr>
        <td>Name</td>
        <td>Price</td>
        <td>Type</td>
      </tr>
    </thead>
    <tbody *ngIf="rows">
      <tr *ngFor="let row of rows">
        <td>{{row.name}}</td>
        <td>{{row.price | convertUSD}}</td>
        <td>{{row.type}}</td>
      </tr>
    </tbody>
  </table>


  <table class="table table-striped">
    <thead>
      <tr>
        <td colspan="3">Products (Euro)</td>
      </tr>
      <tr>
        <td>Name</td>
        <td>Price</td>
        <td>Type</td>
      </tr>
    </thead>
    <tbody *ngIf="rows">
      <tr *ngFor="let row of rows">
        <td>{{row.name}}</td>
        <td>{{row.price | convertEURO}}</td>
        <td>{{row.type}}</td>
      </tr>
    </tbody>
  </table>
</section>


